@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Italic-webfont.eot');
    src: url('fonts/PlayfairDisplay-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PlayfairDisplay-Italic-webfont.woff') format('woff'),
         url('fonts/PlayfairDisplay-Italic-webfont.ttf') format('truetype'),
         url('fonts/PlayfairDisplay-Italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: "Playfair Display", Georgia, serif;
	background: #fff;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	/*position: relative;
	text-align: center;*/
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.clr{
	clear: both;
}
.container > header{
	text-align:center;
	margin-bottom: 10px;
}
.container > header h1{
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 58px;
	line-height: 45px;
	position: relative;
	font-weight: 400;
	color: #a67c52;
	text-align: center;
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{
	font-family: 'Karla', Arial, sans-serif;
	text-align: center;
	color: #4d4d4d;
	position: relative;
	line-height: 15px;
	font-size: 16px;
}
.container > header h2, p.info{
	font-size: 16px;
	font-style: italic;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.links-cont{
    margin: auto;
    width: 790px;
}
.links::after{
	content: "";
	position: relative;
	display: block;
	float: none;
}
.links li {
	font-family: 'Karla', Arial, sans-serif;
	font-size: 14px;
	float: left;
	border-right: 1px solid #4d4d4d;
	padding: 8px 30px;
	position: relative;
	margin-right: 20px;
	text-align: center;
}
.links li:last-child{
	border-right: 0;
}
.links li a{
	transition: all ease-in-out 200ms;
}
.links li a::before{
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	display: inline-block;
    top: 9px;
    left: 6px;
}
.links li a.email::before {
	background: url("../images/email.svg") no-repeat;
}.links li a.blog::before {
	background: url("../images/blog.svg") no-repeat;
}.links li a.dribbble::before {
	background: url("../images/dribbble.svg") no-repeat;
}
.links li a:hover {
	color:#a67c52;
}
/* Media Queries */
@media screen and (max-width: 991px) {
	.container > header{
		text-align: center;
	}
	.links-cont{
		width: 100%;
		position: relative;
	}
	.links{
		position: absolute;
	    width: 230px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	}
	.links li {
		border-right: 0;
	}
	.container > header{
	margin-bottom: 0px;
	}
	.container > header h1{
	line-height: 50px;
	font-family: 'Playfair Display', Georgia, Serif;
	font-size: 53px;
	}

	.container{
	/*position: relative;
	text-align: center;*/
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
	}
}
/* Border */
#border{
	border: 15px solid #a67c52;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}



/* Responsive border */
@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
 #border {
 	border-width: 10px;
 }
}